<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aziza.santridear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intro.InputDataSantri"
            android:theme="@style/splash"></activity>
        <activity
            android:name=".intro.LoginOpsi"
            android:theme="@style/splash" />
        <activity android:name=".AbsenActivity.AbsenKebersihaan" />
        <activity android:name=".AbsenActivity.AbsenSekolaah" />
        <activity android:name=".TentangActivity" />
        <activity
            android:name=".intro.SplashActivity"
            android:theme="@style/splash"></activity>
        <activity
            android:name=".ProfillActivity"
            android:theme="@style/splash" />
        <activity android:name=".DatasantriActivity" />
        <activity
            android:name=".AdmiinActivity"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".intro.RegistrasiActivity"
            android:theme="@style/splash" />
        <activity android:name=".SantriActivity" />
        <activity
            android:name=".intro.LoginActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>